
a{
    text-decoration: none;
    color: white;
}
.wow {
   visibility: hidden;
}

.containerHome {
    font-weight: 300;
    text-align: center;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: white;
}

.HomeSecondImage {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img2.jpg");
    width: 35.3%;
    position: absolute;
    right: 0;
    margin-top: -5%;
    height: 113%;
    background-size: cover;
}


.ContainerSecond.ng-scope {
    width: 100%;
    position: absolute;
    top: 90%;
    height: 75%;
}
.ContainerThird {
    position: absolute;
    top: 190%;
    height: 100%;
    z-index: 10;
    width: 100%;
    display: flex;
    background: rgb(255, 255, 255);
    color: white;
}
.containerSecond1 {
    width: 85%;
    height: 70%;
    position: absolute;
    z-index: 10;
    border-left: 5px solid rgb(48, 93, 169);
    border-top: 5px solid rgb(48, 93, 169);
    border-bottom: 5px solid rgb(48, 93, 169);
    right: 0;
    top: 15%;
}
.SecondSLideLastText {
    text-align: center;
    color: #193E82;
    letter-spacing: 5px;
    margin-top: 58vh;
    margin-left: 8vw;
}
.square {
    height: 15px;
    margin: 10px 10px 3px 14px;
    width: 15px;
    display: inline-block;
    background: red;
    transform: rotate(45deg);
}
/*.overlay {
    background: rgba(232, 236, 109, 0.37);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}*/
.outer-menu {
    display: none;
}
.text {
    color: #FFFFFF;
    font-family: montserrat light;
    z-index: 0;
    font-size:  2.1vw;
    font-weight: 100;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
}
.logo {
    padding-top: 30px;
    font-family: montserrat,sans-serif;
    font-size: 4.7vw;
    color: white;
}
.logoMenu {
    font-size: 229%;
    font-weight: 700;
    color: #3716D6;
    position: relative;
    margin-bottom: 44%;
    left: 0;
    right: 0;
}
.containerSec {
    left: 0;
    z-index: 0;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
}

.DropdownMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    background: red;
    z-index: 3;
}
/* =Header
-------------------------------------------------------------- */

header1 {
    width: 20%;
    height: 75px;
    overflow: hidden;
    position: absolute;
    top: 4%;
    left: 25px;
    z-index: 1;
    background: 0 0;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}
header1 .logo {
    padding-top: none;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
header1 nav {
    display: inline-block;
    float: right;
    margin-right: 60px;
}
header1 nav a {
    line-height: 150px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
header1 nav a:hover {
    color: white;
}
header1.smaller {
    left: 0;
    top: 0;
    position: fixed;
    height: 60px;
    background: white;
}
header1.smaller .logo {
    margin-top: 14px;
    height: 60px;
    font-size: 21px !important;
    margin-left: 20px;
}
header1.smaller nav a {
    line-height: 75px;
}
#main {
    margin-top: 160px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
img.phoneimage {
    margin: 0 auto;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    height: 60%;
}
img.phoneimageIN {
    margin: 0 auto;
    position: absolute;
    top: 29%;
    left: 0;
    right: 0;
    height: 48%;
}
.causes {
    font-size: 1.3em;
    POSITION: absolute;
    left: 0;
    right: 0;
    top: 81%;
}
/*header*/
.textSec {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    color: white;
    font-family: montserrat;
    font-size: 2.4vw;
}
.tagline {
    left: 3px;
    position: absolute;
    top: 60%;
    font-size: 1.5vw;
    color: black;
    font-family: montserrat;
}
.ContainerSecondText {
    height: 100%;
    position: absolute;
    margin-top: 20vh;
    margin-left: 15vw;
    width: 39%;
    text-align: left;
}
.textWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.ContainerSecondText p {
    color: rgb(48, 93, 169);
    margin-left: -10%;
    font-size: 1.6vw;
    font-weight: 500;
}
.ContainerSecondText h2 {
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(48, 93, 169);
    font-size: 2.2vw;
    position: absolute;
    z-index: 1000;
}

.lineTilt {
    position: absolute;
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 40%;
    width: 1px;
    top: 20vh;
    left: 26vw;
    background-color: orange;
}
.HomeThirdImage {
    position: absolute;
    bottom: 0;
    background: white;
    width: 38.3%;
    background-size: cover;
    background-position: 76%;
    height: 90%;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img4.jpg");
}
.backgroundImageThird {
    background-image: url("/ImpactRunSiteImages/ImpactRun_QMark.png");
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: 117% 64%;
}
.textWrapThird {
    background: #193E82;
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    top: 0;
    padding-left: 15vw;
    padding-top: 10vh;
}
.ContainerThirdText.wow.slideInRight {
    z-index: 100;
    position: absolute;
}


.lineTilt.Third {
    height: 150%;
    top: 0;
    left: 12vw;
}
.containerThird1 {
    height: 67%;
    width: 30.3%;
    position: absolute;
    left: 0;
    border-right: 5px solid rgb(48, 93, 169);
    border-top: 5px solid rgb(48, 93, 169);
    border-bottom: 5px solid rgb(48, 93, 169);
}
.lineTilt.Second {
    top: -17px;
    height: 150%;
    left: 11vw;
}
.ContainerThirdText p {
    margin-top: 100px;
    width: 67%;
    font-size: 1.4vw;
    margin-left: -52px;
    margin-bottom: 0;
}
.ContainerThirdText h2 {
    margin: 0;
    position: relative;
    font-size: 2.3vw;
    width: 100%;
    z-index: 998;
}
.NowText{
    text-align: center;
}
.NowText2{
    text-align: center;
}
.NowText h1{
  
    font-weight: 900;
    color: #F1F1F1;
}
.NowText2 h1{

    font-weight: 900;
    color: #F1F1F1;
}



.ContainerFourth {
    position: absolute;
    top: 290%;
    width: 100%;
    z-index: 100;
    height: 80%;
}
.now1 {
    position: absolute;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Now.png");
    height: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52% 56%;
    width: 100%;
}


.now2 {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Now.png");
    position: absolute;
    background-size: cover;
    height: 28%;
    width: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}


.ContainerFifth {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 375%;
    background: white;
}
.ContainerFourthText {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 30vh;
}
.ContainerFourthText h2 {
    position: relative;
    font-weight: 700;
    color: #1C3490;
    font-size: 5vw;
    z-index: 100;
}
.ContainerFourthText p {
    color: rgb(48, 93, 169);
    font-size: 2vw;
    font-weight: 700;
    position: relative;
    z-index: 1000;
}
.lineTilt2 {
    -moz-transform: rotate(40deg);  
    -o-transform: rotate(40deg);  
    -webkit-transform: rotate(40deg);  
    -ms-transform: rotate(40deg);  
    transform: rotate(40deg);
    height: 275px;
    width: 1px;
    background-color: orange;
    margin-left: 50%;
    margin-top: -180px;
}
.textWrapFifth {
    padding: 5vw;
    padding-left: 13vw;
    position: absolute;
    z-index: 100;
    top: 0;
}
.ContainerFifthText {
    width: 30vw;
    text-align: left;
    position: absolute;
    top: 0;
}
.lineTiltFifth {
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 150%;
    width: 1px;
    background-color: orange;
    position: absolute;
    top: -5vh;
    left: 25vw;
}

.ContainerFifthText h2 {
    font-size: 3.2vw;
    color: rgb(48, 93, 169);
}
.FifthSlidWrap {
    top: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    text-align: left;
}
.CauseBackground1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img3.jpg");
    height: 70%;
    width: 51%;
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: 0;
}
.FifthBorder {
    z-index: 10;
    position: absolute;
    height: 56%;
    width: 35%;
    left: 0;
    right: 0;
    margin: 57px 34% 0 auto;
    border: 5px solid #1C3490;
    bottom: 7vh;
}
.FifthBorder p {
    color: #1C3490;
    font-size: 3.4vh;
    width: 40%;
    margin-left: 10px;
}





.ContainerSixth {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 490%;
    z-index: 10;
    background: white;
}
.SixthSlidWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
}

.textWrapSixth {
    padding: 5vw;
    padding-left: 13vw;
}
.ContainerSixthText {
    width: 35%;
    text-align: left;
}
.lineTiltSixth {
    -moz-transform: rotate(40deg);  
    -o-transform: rotate(40deg);  
    -webkit-transform: rotate(40deg);  
    -ms-transform: rotate(40deg);  
    transform: rotate(40deg);
    height: 196px;
    width: 1px;
    background-color: orange;
    margin-top: -149px;
    margin-left: 168px;
}
.ContainerSixthText h2 {
    font-size: 3vw;
    color: rgb(48, 93, 169);
}
.CauseBackground2 {
     background-repeat: no-repeat;
     background-size: cover;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img5.jpg");
    position: absolute;
    height: 70%;
    width: 51.3%;
    right: 0;
    bottom: 0;
}
.SixthBorder {
    position: absolute;
    height: 56%;
    width: 36%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 57px 34% 0 auto;
    border: 5px solid #1C3490;
    bottom: 7vh;
}
.SixthBorder p {
   color: #1C3490;
    font-size: 3.4vh;
    width: 40%;
    margin-left: 10px;
}



.ContainerSeventh {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 590%;
    z-index: 10;
    background: white;
}


.textWrapSeventh{
    padding: 5vw;
    padding-left: 13vw;
}
.ContainerSeventhText {
    width: 35%;
    text-align: left;
}
.lineTiltSeventh {
    -moz-transform: rotate(40deg);  
    -o-transform: rotate(40deg);  
    -webkit-transform: rotate(40deg);  
    -ms-transform: rotate(40deg);  
    transform: rotate(40deg);
    height: 196px;
    width: 1px;
    background-color: orange;
    margin-top: -149px;
    margin-left: 168px;
}
.ContainerSeventhText h2 {
    font-size: 3vw;
    color: rgb(48, 93, 169);
}


.SeventhSlidWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    }
.CauseBackground3{
     background-repeat: no-repeat;
     background-size: cover;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img6.jpg");
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70%;
    width: 51.3%;
    float: right;
}
.SeventhBorder {
    position: absolute;
    height: 56%;
    width: 35%;
    left: 0;
    bottom: 7vh;
    right: 0;
    z-index: 1;
    margin: 57px 34% 0 auto;
    border: 5px solid #1C3490;
}
.SeventhBorder p {
    color: #1C3490;
    font-size: 3.4vh;
    width: 40%;
    margin-left: 10px;
}
.ContainerEight{
    position: absolute;
    top: 485%;
    height: 100%;
    z-index: 10;
    width: 100%;
    display: flex;
    background: white;
    color: white;
}
.HomeEightImage{
    position: absolute;
    bottom: 0;
    background: white;
    width: 38.3%;
    background-size: cover;
    background-position: 76%;
    height: 90%;
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img8.jpg");
}
.backgroundImageEight {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Quotes-01.png");
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: 13vw -43vh;
}
.textWrapEight{
    background: #193E82;
    position: absolute;
    height: 100%;
    width: 62%;
    right: 0;
    top: 0;
    padding-left: 15vw;
    padding-top: 10vh;
}
.ContainerEightText p {
    width: 88%;
    font-size: 1.4vw;
    margin-left: -52px;
    margin-top: 100px;
    margin-bottom: 0;
}
.ContainerEightText h2 {
    font-size: 2.3vw;
    width: 100%;
    margin:0;
}
.ContainerEightText.wow.slideInRight {
    position: absolute;
    z-index: 10;
}
.containerEight1 {
    height: 67%;
    width: 30.3%;
    position: absolute;
    left: 0;
    border-right: 5px solid rgb(48, 93, 169);
    border-top: 5px solid rgb(48, 93, 169);
    border-bottom: 5px solid rgb(48, 93, 169);
}
.lastslide.ng-scope {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Img7.jpg");
    background-size: cover;
    height: 100%;
    margin-top: -60px;
    position: absolute;
    z-index: 11;
    top: 585%;
    width: 100%;
}
.lastslide h1 {
    border: 3px solid white;
    text-align: center;
    color: white;
   margin: 0 auto;
    padding: 13px;
    font-family: montserrat;
    width: 329px;
    border-radius: 9px;
}
.btnCenter {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    z-index: 100;
}

.lastslide p {
    position: absolute;
    right: 0;
    bottom: 6vh;
    color: orange;
    margin-right: 150px;
    font-family: montserrat;
    font-weight: bold;
    font-size: 0.8vw;
}
.lastslide h2 {
    margin-right: 150px;
    color: white;
    bottom: 10vh;
    font-size: 1.8vw;
    font-family: montserrat;
    position: absolute;
    right: 0;
}
img.ViewApp {
    position: absolute;
    width: 33%;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    right: 0;
}
.WraptextLastSlide2 {
    position: absolute;
    bottom: 0;
    width: 46%;
    text-align: left;
    /* left: 0; */
    height: 200px;
    left: 0;
    right: 0;
}
.WraptextLastSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.WraptextLastSlide2 h2 {
    left: 18%;
    margin-right: 0;
}
p.wow.slideInRight.contact {
    margin-right: 150px;
    color: white;
    bottom: 10vh;
    font-size: 1.2vw;
    font-family: montserrat;
    position: absolute;
    right: 0;
    left: 18%;
    margin-bottom: -8%;
}
p.wow.slideInRight.contact2 {
    margin-right: 150px;
    color: white;
    bottom: 10vh;
    font-size: 1.2vw;
    font-family: montserrat;
    position: absolute;
    right: 0;
    left: 18%;
    margin-bottom: -3%;
}

   .swiper-container {
       position: absolute !important;
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: -30px;
    width: 100%;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #193e82 !important;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    display: inline-block;
    border-radius: 100%;
    background: #3e6ca5 !important;
    opacity: 0.2;
    margin-left: 15px;
}


.visible {
    overflow: hidden;
    height: 46px;
    display: inline-block;
    margin-bottom: -13px;
    text-align: left;
}



.visible ul {
    line-height: 22px;
    padding-left: 0;
    margin-top: 0px;
    text-align: left;
    list-style: none;
    -webkit-animation: 6s linear 0s normal none infinite change;
    animation: 10s linear 0s normal none infinite change;
}
.visible ul li {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
