@media screen and (max-width: 480px) {
  .logo {
    padding-top: 73px;
    font-family: montserrat,sans-serif;
    font-size: 9.7vw;
    color: white;
}
  .containerHome{
    position: relative;
    height: 580px;
    width: 100%;
  }
    .container {
        background-position: 50%;
    }
    .ContainerSecond.ng-scope {
        position: relative;
        width: 100%;
        height: 600px;
    }
   .HomeSecondImage {
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 19vw 100%;
    top: -20px;
    height: 370px;
    width: 80%;
}
.text {
    color: #FFFFFF;
    font-family: montserrat light;
    z-index: 0;
    font-size: 2.3vh;
    font-weight: 100;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
}
    .containerSecond1 {
        width: 54.3%;
        position: absolute;
        z-index: 10;
        border-left: 5px solid rgb(48, 93, 169);
        border-top: 5px solid rgb(48, 93, 169);
        border-bottom: 5px solid rgb(48, 93, 169);
        right: 0;
        bottom: 7vh;
    }
   .lineTilt {
    position: absolute;
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    height: 250px;
    width: 1px;
    left: 121px;
    top: 250px;
    background-color: orange;
}
    .ContainerSecondText {
        height: 100%;
        position: absolute;
        text-align: left;
        margin-top: 250px;
    }
    .ContainerSecondText p {
        color: rgb(48, 93, 169);
        margin-left: -5%;
        letter-spacing: 1px;
        font-size: 3.3vw !important;
    }
    .ContainerSecondText h2 {
        color: rgb(48, 93, 169);
        font-size: 4.8vw;
        line-height: 25px;
        letter-spacing: 1px;
    }
    .backgroundImageThird {
        background-image: url("/ImpactRunSiteImages/ImpactRun_QMark.png");
        position: absolute;
        height: 100%;
        width: 57%;
        right: 0;
        background-size: inherit;
        background-repeat: no-repeat;
        z-index: 1;
        background-position: 45% 49%;
    }
    .HomeEightImage {
        width: 57.3%;
    }
    .HomeThirdImage {
        position: absolute;
        bottom: 0;
        background: white;
        width: 50.3%;
        background-size: cover;
        background-position: 76%;
        height: 90%;
        background-image: url("/ImpactRunSiteImages/ImpactRun_Img4.jpg");
    }
    .textWrapThird {
        position: absolute;
        width: 57%;
        height: 100%;
        right: 0;
        padding-left: 21vw;
        padding-top: 0;
    }
    .lineTilt.Second {
    position: absolute;
    height: 250px;
    bottom: 0;
    left: 0;
    top: 250px;
     }
    .ContainerThird {
        position: relative;
        height: 500px;
        z-index: 10;
        width: 100%;
    }
    .containerThird1 {
        height: 67%;
        width: 30.3%;
        position: absolute;
        left: 0;
        border-right: 5px solid rgb(48, 93, 169);
        border-top: 5px solid rgb(48, 93, 169);
        border-bottom: 5px solid rgb(48, 93, 169);
    }
    .centerdiv {
        width: 100%;
        margin-top: 42vh;
        height: 100%;
        margin-left: -10vw;
        /* z-index: 10000; */
        /* background: aquamarine; */
    }
    .ContainerThirdText.wow.slideInRight {
    left: 88px;
    bottom: 0;
}
    .ContainerThirdText p {
        font-size: 3.2vw;
        width: 76%;
        margin-left: -10%;
        /* position: absolute; */
    }
    .ContainerThirdText h2 {
        font-size: 5.8vw;
        width: 91%;
    }
    .ContainerFourth {
        position: relative;
        width: 100%;
        height: 550px;
        z-index: 100;
    }
    .lastslide h1 {
        text-align: center;
        font-size: 4.3vh;
        color: white;
        font-family: montserrat;
        padding-top: 32px;
    }
    .lastslide h2 {
        position: relative;
        text-align: center;
        margin-right: 0;
        font-size: 12.8vw;
        font-family: montserrat;
        margin-top: 45vh;
    }
    .lastslide p.wow.slideInRight {
        width: 42%;
        margin-left: 44vw;
        margin-top: -37px;
        font-size: 5.2vw;
        position: relative;
    }
    img.ViewApp {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1;
    }
    .SecondSLideLastText {
    letter-spacing: 1px;
    margin-top: 0;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
    .ContainerFourthText.wow.pulse {
        position: relative;
        width: 10%;
        height: 100%;
        text-align: left;
        top: 10%;
        left: 10%;
    }
    .ContainerFourthText h2 {
        font-weight: 700;
        color: #1C3490;
        font-size: 24vw;
    }
    .ContainerFifth {
        position: relative;
        height: 500px;
        width: 100%;
        z-index: 10;
        background: white;
    }
    .ContainerFifthText h2 {
        font-size: 5.8vw;
        font-weight: 600;
        color: rgb(48, 93, 169);
    }
    .ContainerFourthText p {
        font-size: 7vw;
        width: 85vw;
    }
    .lineTilt2 {
        position: relative;
        height: 400px;
        margin-left: 100px;
        top: -200px;
    }
    .now1 {
        position: absolute;
        height: 200px;
        width: 100%;
    }
    .now2 {
        display: none;
    }
    .CauseBackground1 {
        left: 0;
        width: 45%;
        height: 100%;
        background-position: 52%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .CauseBackground2 {
        left: 0;
        width: 45%;
        height: 100%;
        background-position: 64%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .CauseBackground3 {
        left: 0;
        width: 45%;
        height: 100%;
        background-position: 75%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textWrapFifth {
        right: 0;
    }
    .ContainerFifthText {
        width: 51vw;
        text-align: left;
        position: absolute;
        top: 0;
        left: -34vw;
    }
    .lineTiltFifth {
        display: none;
    }
    .FifthBorder {
        z-index: 10;
        position: absolute;
        height: 70%;
        width: 80%;
        left: 0;
        right: 0;
        margin: 57px 10% 0 auto;
        border: 5px solid #1C3490;
        bottom: 7vh;
    }
    .FifthBorder p {
        color: #1C3490;
        font-size: 2.3vh;
        width: 52%;
        font-weight: 500;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .SixthBorder p {
        color: #1C3490;
        font-size: 2.3vh;
        width: 52%;
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: 500;
    }
    .SixthBorder {
        z-index: 10;
        position: absolute;
        height: 70%;
        width: 80%;
        left: 0;
        right: 0;
        margin: 57px 10% 0 auto;
        border: 5px solid #1C3490;
        bottom: 7vh;
    }
    .SeventhBorder {
        z-index: 10;
        position: absolute;
        height: 70%;
        width: 80%;
        left: 0;
        right: 0;
        margin: 57px 10% 0 auto;
        border: 5px solid #1C3490;
        bottom: 7vh;
    }
    .SeventhBorder p {
        color: #1C3490;
        font-size: 2.3vh;
        width: 52%;
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: 500;
    }
    .ContainerEight {
        position: relative;
        height: 500px;
        z-index: 10;
        width: 100%;
        display: flex;
        background: white;
        color: white;
        margin-top: 58px;
    }
    .backgroundImageEight {
    background-image: url("/ImpactRunSiteImages/ImpactRun_Quotes-01.png");
    position: absolute;
    height: 100%;
    width: 57%;
    right: 0;
    background-size: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    background-position:-38vw -34vh;
}

.ContainerEightText.wow.slideInRight {
    left: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.lineTilt.Third {
    height: 150px;
    margin-top: 172px;
    left: 100px;
}
.lastslide.ng-scope {
    z-index: 11;
    width: 100%;
    margin-top: -20px;
    position: relative;
    height: 650px;
}
.ContainerEightText h2 {
    font-size: 5.3vw;
    width: 100%;
}


.ContainerEightText p {
    width: 88%;
    font-size: 4.4vw;
    margin-left: -15px;
}

}