<div class="FaqPage">
   <!-- <div class="logo faq">ImpactRun</div> -->
   <div class="containerFaq">
      <div class="row">
         <!-- <div class="col-sm-4 faq">
            Q. What is ImpactRun?<br>
            A. ImpactRun is your fitness friend. It's a mobile application where your outdoor runs raise funds for social causes.
         </div>
         <div class="col-sm-4 faq">
            Q. Minimum distance to be covered?<br>
            A. A minimum distance of 100 metres has to be covered for you to create impact.
         </div>
         <div class="col-sm-4 faq">
            Q. How accurate is the tracking system?<br>
            A. Accuracy is the most important metric for us. We use GPS to track the distance covered and accelerometer data (step count) for verification.  We have put awesome algorithms in place to ensure that the distance calculated is more than 95% accurate.
         </div>
         <div class="col-sm-4 faq">
            Q. What if someone tries to use the app while travelling in a vehicle?<br>
            A. We have put multiple checks to take care of those who try to cheat our system. 
            We compare your speed with Usain Bolt's (fastest man on the planet) speed and flag it as an impossible jog if you are faster than him. 
            Secondly, we track the number of steps you take with accelerometer data and ensure that your average steps-per-metre lies in the human walking to sprinting range.
         </div>
         <div class="col-sm-4 faq">
            Q. Can I get my calorie burn stats?<br>
            A. Calorie count is not in the first version of the product, but it is a feature we are working on. You will be able to see your calorie burn stats in the coming version of ImpactRun.
         </div>
         <div class="col-sm-4 faq">
            Q. What differentiates ImpactRun from other fitness apps?<br>
            A. Direct contribution to social causes, our relentless focus on accuracy and our easy to use interface.
            We are here to create a community of socially active fitness enthusiasts who will take all the necessary steps with us (pun intended) to impact lives of millions of underprivileged Indians.
         </div> 
         <div class="col-sm-4 faq">
            Q. Can I share my workout results with friends?<br>
            A. Yes why not! Big sweaty hugs for all :) Spread the love via Facebook, Twitter, Whatsapp and G+.
         </div>
         <div class="col-sm-4 faq">
            Q. How will I know the funds raised reach their end user?<br>
            A. We create detailed campaign reports and share them with every ImpactRunner ensuring end-to-end transparency of fund flow.
         </div>
         <div class="col-sm-4 faq">
            Q. Can I see my running statistics and previous workouts?<br>
            A. You can check your distance, time and impact for every run. We will be adding more stats soon.
            Click on Profile. Check out history to view all your past workouts.
         </div>
         <div class="col-sm-4 faq">
            Q. Can I run on a treadmill and make it count on ImpactRun?<br>
            A. We currently support only outdoor jogs and walks. Treadmill runs or moving around indoors won't count due to our GPS based tracking system. But we are working on it to include treadmills as well.
         </div> -->


         <div class='containerTab'>
    <div class='col-lg-12'>
      <ul class='collapsible-doodads'>
        <li class='active clearfix'>
         <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'> <h5>Q. What is ImpactRun?</h5></div>
          <div class='content'>
           
            <p>A. ImpactRun is your fitness friend. It's a mobile application where your outdoor runs raise funds for social causes.</p>
          </div>
        </li>
        <li class='clearfix'>
          <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'><h5> Q. Minimum distance to be covered?</h5></div>
          <div class='content'>
            
            <p>A. A minimum distance of 100 metres has to be covered for you to create impact.</p>
          </div>
        </li>
        <li class='clearfix'>
          <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'> <h5>Q. How accurate is the tracking system?</h5></div>
          <div class='content'>
           
            <p> A. Accuracy is the most important metric for us. We use GPS to track the distance covered and accelerometer data (step count) for verification.  We have put awesome algorithms</p>
          </div>
        </li>
        <li class='clearfix'>
          <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'><h5>Q. What if someone tries to use the app while travelling in a vehicle?</h5></div>
          <div class='content'>
            
            <p>A. We have put multiple checks to take care of those who try to cheat our system. 
            We compare your speed with Usain Bolt's (fastest man on the planet) speed and flag it as an impossible jog if you are faster than him. 
            Secondly, we track the number of steps you take with accelerometer data and ensure that your average steps-per-metre lies in the human walking to sprinting range.</p>
          </div>
        </li>
        <li class='clearfix'>
          <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'> <h5> Q. Can I get my calorie burn stats?</h5></div>
          <div class='content'>
           
            <p>A. Calorie count is not in the first version of the product, but it is a feature we are working on. You will be able to see your calorie burn stats in the coming version of ImpactRun.</p>
          </div>
        </li>
        <li class='clearfix'>
          <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'><h5> Q. What differentiates ImpactRun from other fitness apps?</h5></div>
          <div class='content'>
            
            <p>A. Direct contribution to social causes, our relentless focus on accuracy and our easy to use interface.
            We are here to create a community of socially active fitness enthusiasts who will take all the necessary steps with us (pun intended) to impact lives of millions of underprivileged Indians.</p>
          </div>
        </li>
        <li class='clearfix'>
          <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'> <h5>  Q. Can I share my workout results with friends?</h5></div>
          <div class='content'>
           
            <p>A. Yes why not! Big sweaty hugs for all :) Spread the love via Facebook, Twitter, Whatsapp and G+.</p>
          </div>
        </li>
          <li class='clearfix'>
            <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'> <h5>  Q. How will I know the funds raised reach their end user?</h5></div>
          <div class='content'>
           
            <p> A. We create detailed campaign reports and share them with every ImpactRunner ensuring end-to-end transparency of fund flow..</p>
          </div>
        </li>
          <li class='clearfix'>
            <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'><h5>Q. Can I see my running statistics and previous workouts?</h5>
          </div>
          <div class='content'>
            <p>A. You can check your distance, time and impact for every run. We will be adding more stats soon.
            Click on Profile. Check out history to view all your past workouts.</p>
          </div>
        </li>
         </li>
          <li class='clearfix'>
            <div class='icon'><i class="fa fa-plus-circle" aria-hidden="true"></i></i></div>
          <div class='icon2'><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class='gui-button'><h5> Q. Can I run on a treadmill and make it count on ImpactRun?</h5></div>
          <div class='content'>
            <p>A. We currently support only outdoor jogs and walks. Treadmill runs or moving around indoors won't count due to our GPS based tracking system. But we are working on it to include treadmills as well.</p>
          </div>
        </li>
      </ul>
    </div>
</div>
      </div>
   </div>
</div>