<header role="banner" class="headerMain"id="headerMain" >
   <div class="containerHome">
      <div class="logo"><a href="http://www.impactrun.com">ImpactRun</a></div>
      <div class="text">
         Real change in society must start from individual initiative<br>
         - The Dalai Lama
      </div>
      <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
      <h1 class="first">Get Started !</h1>
      </a>
      <section id="section01" class="demo">
        <a ng-click="gotoElement('middle')"><span></span></a>
     </section>
   </div>
</header>
<div class="ContainerSecond" id="middle">
   <div class="HomeSecondImage">
      <div class="containerSecond1">
      </div>
   </div>
   <div class="textWrap wow slideInLeft " data-wow-delay="1s">
      <div class="ContainerSecondText " >
         <p>We believe</p>
         <h2> Hidden within each of us lies the basic human desire of 'being useful'</h2>
      </div>
      <div class="lineTilt"></div>
   </div>
   <div class="SecondSLideLastText">
      <h1>
         For
         <div class="square"></div>
         <div class='visible'>
            <ul>
               <li>Yourself </li>
               <li>Family</li>
               <li>Friends</li>
               <li>Society</li>
            </ul>
         </div>
      </h1>
   </div>
</div>
<div class="ContainerThird">
   <div class="backgroundImageThird"></div>
   <div class="HomeThirdImage" ></div>
   <div class="containerThird1">
   </div>
   <div class="textWrapThird">
      <div class="ContainerThirdText wow slideInRight" data-wow-delay="1s" >
         <div class="centerdiv">
            <p>How many times have you thought of helping someone else?</p>
            <h2>Someone lesser privileged than you?</h2>
            <p>And how often has</p>
            <h2>Thought changed into Action?</h2>
         </div>
         <div class="lineTilt Second"></div>
      </div>
   </div>
</div>
<div class="ContainerFourth">
   <div class="now1"></div>
   <div class="now2"></div>
   <div class="textWrapFourth">
      <div class="ContainerFourthText wow pulse" >
         <h2>Now is the time</h2>
         <p>To take steps. Together.</p>
         <div class="lineTilt2 "></div>
      </div>
   </div>
</div>
<div class="ContainerFifth">
   <div class="textWrapFifth wow slideInLeft " data-wow-delay="1s">
      <div class="ContainerFifthText">
         <h2> Every jog of yours now raises funds</h2>
      </div>
      <div class="lineTiltFifth"></div>
   </div>
   <div class="swiper-container">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="FifthSlidWrap">
               <div class="FifthBorder">
                  <p>To help a poor kid go to school</p>
               </div>
               <div class="CauseBackground1"></div>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="SixthSlidWrap">
               <div class="SixthBorder">
                  <p>To support a farmer through rough drought days</p>
               </div>
               <div class="CauseBackground2"></div>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="SeventhSlidWrap">
               <div class="SeventhBorder">
                  <p>To help a cancer victim through their tough battle</p>
               </div>
               <div class="CauseBackground3"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="swiper-pagination"></div>
</div>
<div class="ContainerEight">
   <div class="HomeEightImage">
   </div>
   <div class="backgroundImageEight" ></div>
   <div class="containerEight1">
   </div>
   <div class="textWrapEight">
      <div class="ContainerEightText wow slideInRight"  data-wow-delay="1s">
         <p>So next time someone asks</p>
         <h2>What good did you do today?</h2>
         <p>Show them ImpactRun</p>
         <h2>And take them for a jog!</h2>
         <div class="lineTilt Third"></div>
      </div>
   </div>
</div>
<div class="lastslide" >
   <div class="btnCenter">
      <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
      <h1 class="wow flash" data-wow-duration="2s" data-wow-delay="1s">Let's Go !</h1>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
      <img class="ViewApp"src="/ImpactRunSiteImages/ViewApp.png">
      </a>
   </div>
      <div class="WraptextLastSlide">
         <h2 class="wow slideInRight"  data-wow-delay="1s">ImpactRun</h2>
         <p class="wow slideInRight"  data-wow-delay="1s">Run for a cause. Everyday.</p>
      </div>
        <div class="WraptextLastSlide2">
         <h2 class="wow slideInRight"  data-wow-delay="1s">For more contact us</h2>
         <p class="wow slideInRight contact"  data-wow-delay="1.5s">+91-9909000909</p>
         <p class="wow slideInRight contact2"  data-wow-delay="1s">+91-9909000909</p>
      </div>

</div>