<header role="banner" class="headerMain"id="headerMain" >
   <div class="container">
      <div class="outer-menu">
         <input class="checkbox-toggle" type="checkbox" />
         <div class="hamburger">
            <div></div>
         </div>
         <div class="menu">
            <div>
               <div>
                  <ul>
                     <div class="logo">ImpatRun</div>
                     <!--      <li><a href="#/blog">Blog</a></li>  
                        -->      
                     <li><a href="#/home">About Us</a></li>
                     <li><a href="#/home">Contact US</a></li>
                     <li><a href="#/blog">Meet the team</a></li>
                     <img src="/images/app-android.png" height='60px'>      
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <header1>
         <div class="container1 clearfix">
            <div class="logo">ImpatRun</div>
         </div>
      </header1>
      <div class="text">
         Real change in society must start from individual initiative.<br>
         - The Dalai Lama
      </div>
   </div>
   <div class="containerSec">
      <div class="swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide">Pick Cause</div>
            <div class="swiper-slide">Begin Run</div>
            <div class="swiper-slide">Create Impact<br> And Share</div>
         </div>
         <!-- Add Pagination -->
         <div class="swiper-pagination"></div>
      </div>
   </div>
   <!-- <div class='overlay'/> -->
</header>