<header role="banner" class="headerMain"id="headerMain" >
   <div class="containerHome">
      <!--   <div class="outer-menu">
         <input class="checkbox-toggle" type="checkbox" />
         <div class="hamburger">
            <div></div>
         </div>
         <div class="menu">
            <div>
               <div>
                  <ul>
                     <div class="logoMenu">ImpactRun</div>      
                     <li><a href="#/home">About Us</a></li>
                     <li><a href="#/home">Contact US</a></li>
                     <li><a href="#/blog">Meet the team</a></li>
                     <img src="/images/app-android.png" height='60px'>      
                  </ul>
               </div>
            </div>
         </div>
         </div> -->
      <!-- <header1>
         <div class="container1 clearfix">
           
         </div>
         </header1> -->
      <div class="logo">ImpactRun</div>
      <div class="text">
         Real change in society must start from individual initiative.<br>
         - The Dalai Lama
      </div>
   </div>
   <!-- <div class="containerSec">
      <div class="swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="phoneimage"src="/images/service2.png" ><br><div class="causes">Pick Cause</div></div>
            <div class="swiper-slide"><img class="phoneimage"src="/images/service2.png" ><img class="phoneimageIN"src="/images/begin run.png" >><div class="causes">Begin Run</div></div>
            <div class="swiper-slide"><img class="phoneimage"src="/images/service2.png" ><img class="phoneimageIN"src="/images/Thank you run.png" >><div class="causes">Share And<br>Create Impact</div></div>
         </div>
        
         <div class="swiper-pagination"></div>
      </div>
      </div> -->
   <!-- <div class='overlay'/> -->
</header>
<div class="ContainerSecond">
   <div class="containerSecond1">
   </div>
   <img class="HomeSecondImage" src="/ImpactRunSiteImages/ImpactRun_Img2.jpg">
   <div class="textWrap">
      <div class="ContainerSecondText wow slideInLeft " >
         <p>We believe</p>
         <h2> Hidden within each of us lies the most basic human desire of Being useful.</h2>
      </div>
      <div class="lineTilt"></div>
   </div>
</div>
<div class="ContainerThird">
   <img class="HomeThirdImage" src="/ImpactRunSiteImages/ImpactRun_Img4.jpg">
   <div class="containerThird1">
   </div>
   
   <div class="textWrapThird">
      <div class="ContainerThirdText wow slideInRight" >
         <div class="centerdiv">
         <p>How many times have you thought of helping someone else. </p>
         <h2>someone lesser privileged than you?</h2>
         </div>

         <div class="lineTilt Second"></div>
      </div>
   </div>
</div>

<div class="ContainerFourth">
   <div class="textWrapFourth">
      <div class="hideText"></div>
     
      <div class="ContainerFourthText wow pulse" data-wow-delay="1s">
         <h2>Now is the time</h2>
         <p>To take steps, together.</p>
         <div class="lineTilt2 "></div>
      </div>
      
   </div>
</div>
<div class="ContainerFifth">
    <div class="textWrapFifth wow slideInLeft">
      <div class="ContainerFifthText">
         <h2> Every jog of yours now raises funds.</h2>
      </div>
      <div class="lineTiltFifth"></div>
   </div>
   <div class="FifthSlidWrap">
      <div class="FifthBorder"><p>To get a poor kid go to school</p></div>
    <img src="/ImpactRunSiteImages/ImpactRun_Img3.jpg">
   </div>
</div>
<div class="ContainerSixth">
    <div class="textWrapSixth wow slideInLeft">
      <div class="ContainerSixthText">
         <h2> Every jog of yours now raises funds.</h2>
      </div>
      <div class="lineTiltSixth"></div>
   </div>
   <div class="SixthSlidWrap">
      <div class="SixthBorder"> <p>to support a farmer through rough drought days.</p></div>
    <img src="/ImpactRunSiteImages/ImpactRun_Img5.jpg">
   </div>
</div>
<div class="ContainerSeventh">
    <div class="textWrapSeventh wow slideInLeft">
      <div class="ContainerSeventhText">
         <h2> Every jog of yours now raises funds.</h2>
      </div>
      <div class="lineTiltSeventh"></div>
   </div>
   <div class="SeventhSlidWrap">
      <div class="SeventhBorder"> <p>to help a cancer victim through his difficult journey battling the disease.</p></div>
    <img src="/ImpactRunSiteImages/ImpactRun_Img6.jpg">
   </div>
</div>
<div class="ContainerEight">
   <img class="HomeThirdImage" src="/ImpactRunSiteImages/ImpactRun_Img8.jpg">
   <div class="containerThird1">
   </div>
   <div class="textWrapThird">
      <div class="ContainerEightText wow slideInRight">
         <p>So next time someone asks,</p>
         <h2>"What good did you do today?"</h2>
      </div>
      <div class="lineTilt Second"></div>
   </div>
</div>
<div class="lastslide">
   <div>
      <h1 class="wow flash" data-wow-duration="5s">Let's Go !</h1>
      <a href="https://play.google.com/store/apps/details?id=com.sharesmile.share">
      <img class="ViewApp"src="/ImpactRunSiteImages/ViewApp.png">
      </a>
     <div class="WraptextLastSlide">
      <h2 class="wow slideInRight">ImpactRun</h2>
      <p class="wow slideInRight">Run for a cause</p>
      </div>
   </div>
</div>
